{% extends 'base.html' %} {% block content %} {% load static %}
<h1>Coba</h1>
<form method="POST">
  <textarea name="text" id="" cols="30" rows="10"></textarea>
  <input type="submit" />
</form>
<script
  type="text/javascript"
  src="{% static 'js/tinymce/tinymce.min.js' %}"
></script>
<script>
  tinymce.init({
    selector: 'textarea',
    toolbar: 'image',
    toolbar: 'undo redo | link image | code',
    image_title: true,
    automatic_uploads: true,
    file_picker_types: 'image',
    plugins: 'image imagetools image code',
    images_upload_url: 'upload-tugas/upload/',
    file_picker_callback: function (cb, value, meta) {
      var input = document.createElement('input')
      input.setAttribute('type', 'file')
      input.setAttribute('accept', 'image/*')

      input.onchange = function () {
        var file = this.files[0]
        var reader = new FileReader()

        reader.onload = function () {
          var id = 'blobid' + new Date().getTime()
          var blobCache = tinymce.activeEditor.editorUpload.blobCache
          var base64 = reader.result.split(',')[1]
          var blobInfo = blobCache.create(id, file, base64)
          blobCache.add(blobInfo)

          // call the callback and populate the Title field with the file name
          cb(blobInfo.blobUri(), { title: file.name })
        }
        reader.readAsDataURL(file)
      }

      input.click()
    },
  })
</script>
{% endblock content %}
